.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-toolbar.mat-primary {
    background: #007bff!important;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-container {
    text-align: right;
}

.toggle-name {
    align-items: center;
    display: flex;
}

img {
    width: 50%;
}

.is-mobile .app-toolbar {
    position: fixed;
    z-index: 2;
}

h1.app-name {
    margin-left: 1rem ;
}

.sidenav-container {
    flex: 1;
}

.is-mobile .sidenav-container {
    flex: 1 0 auto;
}