<div class="main-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="app-toolbar">
        <div class="nav-container">
            <div class="toggle-name">
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1 class="app-name">PSB App</h1>
            </div>
            <div class="image-container">
                <a class="w-100 h-100" routerLink="">
                    <img src="assets/images/logoutb_blanco.png">
                </a>
            </div>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>

                <mat-list-item (click)="snav.toggle()" [routerLink]="['/']">
                    Inicio
                    <mat-icon mat-list-icon>home</mat-icon>
                </mat-list-item>

                <mat-list-item (click)="snav.toggle(); openRegisterModal()">
                    Registrar basurero
                    <mat-icon mat-list-icon>person_pin_circle</mat-icon>
                </mat-list-item>

                <mat-list-item *ngIf="token" (click)="snav.toggle(); redirectToAdmin()">
                    Administrar basureros
                    <mat-icon mat-list-icon>settings</mat-icon>
                </mat-list-item>

                <mat-list-item *ngIf="token" (click)="logout()">
                    Cerrar sesión
                    <mat-icon mat-list-icon>exit_to_app</mat-icon>
                </mat-list-item>

                <mat-list-item *ngIf="!token" (click)="redirectToLogin()">
                    Iniciar sesión
                    <mat-icon mat-list-icon>login</mat-icon>
                </mat-list-item>

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>