<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="display-4">Gestión de basureros</h1>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
						<thead class="thead-light">
							<tr>
								<th scope="col">Barrio</th>
								<th scope="col">Dirección</th>
								<th scope="col">Fecha de creación</th>
								<th scope="col">Estado</th>
								<th scope="col" style="width: 10%;">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let p of psb">
								<th>
									{{p.neighborhood}}
								</th>
								<td>
									{{p.address}}
								</td>
								<td>
									{{p.CreationDate | date: 'short'}}
								</td>
								<td>
									<span *ngIf="p.status == 'V'">Por verificar</span>
									<span *ngIf="p.status == 'a'">Activo</span>
									<span *ngIf="p.status == 'i'">Inactivo</span>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<button class="btn btn-sm btn-primary mr-1" type="button">
											<i class="fas fa-eye" (click)="openImage(p.ima)"></i></button>
										<button class="btn btn-sm btn-primary mr-1" type="button">
											<i class="fas fa-pen" (click)="update(p)"></i></button>
										<button class="btn btn-sm btn-primary" type="button">
											<i class="fas fa-trash" (click)="delete(p._id)"></i></button>
									</div>
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>