<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="display-4">Gestión de basureros</h1>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
						<thead class="thead-light">
							<tr>
								<th scope="col">Barrio</th>
								<th scope="col">Dirección</th>
								<th scope="col">Fecha de creación</th>
								<th scope="col">Estado</th>
								<th scope="col" style="width: 10%;">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let p of psb">
								<th>
									{{p.neighborhood}}
								</th>
								<td>
									{{p.address}}
								</td>
								<td>
									{{p.CreationDate | date: 'short'}}
								</td>
								<td>
									<span *ngIf="p.status == 'V' || p.status == 'v'">Por verificar</span>
									<span *ngIf="p.status == 'A' || p.status == 'a'">Activo</span>
									<span *ngIf="p.status == 'I' || p.status == 'i'">Inactivo</span>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<button class="btn btn-sm btn-primary mr-1" type="button" (click)="openImage(p.imageId)">
											<i class="fas fa-eye"></i></button>
										<button class="btn btn-sm btn-primary mr-1" type="button" (click)="update(p)">
											<i class="fas fa-pen"></i></button>
										<button class="btn btn-sm btn-primary" type="button" (click)="delete(p._id)">
											<i class="fas fa-trash"></i></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="spinner mt-4 mb-4" *ngIf="showSpinner">
					<mat-spinner [diameter]="60"></mat-spinner>
				</div>
				<div *ngIf="!showSpinner">
					<div *ngIf="psb.length === 0" class="alert alert-info text-center ml-3 mr-3 mt-3" role="alert">
						No hay datos existentes
					</div>
				</div>
			</div>
		</div>

	</div>
</div>